<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Collab.io</title>
</head>
<body>
    <header>
        <h1>Collab.io</h1>
        <div class="link-container">
            <a href="#">Accueil</a>
            <a href="#">Taches</a>
            <a href="#">Emploi du temps</a>
            <a href="#">Tchat</a>
        </div>
    </header>
    <h1> <% username %></h1>
    <section class="btn" id="btn">
        <button class="btn-taches" data-section="taches-section">Tâches</button>
        <button class="btn-time" data-section="time-section">Emploi du temps</button>
        <button class="btn-tchat" data-section="tchat-section">Tchat</button>
    </section>    
    <section class="section-content" id="taches-section">
        <ul id="post-list">
            <% tasks.forEach(task => { %>
                <li class="task-item">
                    <div class="task-header">
                        <strong>Tâche n°<%= task.id %></strong>
                        <span class="task-date"><%= new Date(task.created_at).toLocaleDateString() %></span>
                    </div>
                    <div class="task-content">
                        <p><%= task.task_content %></p>
                    </div>
                    <div class="task-actions">
                        <button class="edit-task" data-id="<%= task.id %>">Modifier</button>
                        <button class="delete-task" data-id="<%= task.id %>">Supprimer</button>
                    </div>
                </li>
            <% }); %>
        </ul>        
        <div class="area-zone">
            <input type="text" id="task-name-input" placeholder="Nom de la tâche" required />
            <div class="area-text">
        <textarea class="add-taches" placeholder="Ajoutez une tache"></textarea>
        <button id="submit-post">Envoyer</button>  
        </div>
        </div>   
    </section>
    <div id="time-section" class="section-content">
        <h2>Emploi du temps</h2>
        <p>Vous avez des taches a effectuées :</p>
        <div id='calendar'></div>
    </div>
    <div id="tchat-section" class="section-content">
        <h2>Tchat</h2>
        <p>Un soucis ou besoin d'info a propos d'une tache ? laissez un message :</p>
        <ul id="messages">
            <% messages.forEach(message => { %>
                <li><strong><%= message.messages_name %>:</strong> <%= message.messages_content %></li>
            <% }); %>
        </ul>
        <form id="form" action="">
          <input id="input" autocomplete="off" /><button>Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="script.js"></script>
    <script>
        const socket = io();
      </script>
</body>
</html>